<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pet Home</title>
</head>
<body>
<header>Home</header>
<nav>
    <a href="#">Home</a> |
    <a href="#">Services</a> |
    <a href="#">About Us</a> |
</nav>
<h1>Dog</h1>
<h2>Cat</h2>

<p>This is a page about pets</p>

<div class="text-center">
    <button type="button" class="btn btn-primary btn-lg">
        Create a Profile!
    </button>
</div>

<img src="download.jpeg" alt="picture of pets">

<table>
<tr>
    <td>1</td>
    <td>Dog</td>
</tr>
<tr>
    <td>2</td>
    <td>Cat</td>
</tr>
</table>

<footer>
    <p>Made in Full Stack Web Development class on April 12th 2019</p>
</footer>
</body>
</html>